.img-horizontal{
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  width: 6%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      margin-left: -300px !important;
  }

  }

  .logo-d{
    width: 16%;
  }

  .navbar-brand{
    margin-bottom: 16px !important;
  }
