 <!-- Intro Section -->
 <div class="view intro-video" data-jarallax='{"speed": 0.2}'>

  <video   playsinline autoplay muted loop>
    <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4">
</video>
<div class="mask rgba-indigo-light">
    <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>David Martínez R.</strong></h2>
                    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>engineering & software design</strong></h5>
                    <a  (click)="scroll('curve1')" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>portfolio</a>
                    <a mdbBtn (click)="scroll('about')" color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>About me</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<div id="about"></div>
  <main>
      <div  class="container">
          <section class="text-center pb-3 my-5">
  <!--Section: Features v.3-->



    <!--Section heading-->

    <!--Grid column-->



    <div   class="col-lg-12 col-md- mb-lg-0 mb-4 px-5 mb-5 pb-3">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up demaro-gradient"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">


    <div class="background"></div>


    <div id="curve" class=" card1 circle text-center rounded-circle ">

        <img src="assets/Doge.jpg" class="demaro">


        <div class="footer">
            <div class="connections">
                <a href="" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection github btn-fb1">
                    <i class="fa fa-github"></i>
                </a>

                <a href="" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection linkedin btn-fb3">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection instagram btn-fb2">
                    <i class="fa fa-instagram"></i>
                </a>


                <div class="connection instagram"><div class="icon"></div></div>
                <div class="connection twitter"><div class="icon"></div></div>
                <div class="connection behance"><div class="icon"></div></div>
            </div>
            <svg id="curve">
                <path id="p" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
                <rect id="dummyRect" x="0" y="0" height="450" width="400"
          fill="transparent" />
                <!-- slide up-->
                <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.1s" id="bounce1" />
                <!-- slide up and curve in -->
                <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.15s" id="bounce2" />
                <!-- slide down and curve in -->
                <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.15s" id="bounce3" />
                <!-- slide down and curve out -->
                <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.1s" id="bounce4" />
                <!-- curve in -->
                <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.05s" id="bounce5" />

                <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
            </svg>

        </div>
        <div class="card-blur"></div>
    </div>


        </div>
        <mdb-card-body>

                <h5 class="font-weight-bold dark-grey-text my-1">David Martínez</h5>
                <h8 class="text-uppercase grey-text mb-1">
                    <strong>Front-end Developer</strong>
                </h8>

          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <i class="fa fa-quote-left pr-2"></i>
            Engineer programmer mention system development expertise with Frontend advanced technologies, UX design, HTTP Services,
            Api REST with Backend as Django, Java Spring. Methodologies, Team work, positive attitude and cohesion. Creativity plus logical analysis to give effective and innovative solutions.</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->
    <hr >

<!--Section: Features v.2-->
<section class="text-center">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Skills</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">
      The following technologies are listed as learned skills and are implemented in several frontend and backend development projects.
    </p>

    <!--Grid row-->
    <div class="row text-left">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
                <i class="fab fa-html5 html5 fa-4x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Html 5</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a mdbBtn color="warning" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
                <i class="fab fa-css3-alt css fa-4x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">CSS 3</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="col-1 col-md-2 float-left">
                        <i class="fab fa-sass sass fa-4x"></i>
                    </div>
                    <div class="col-10 col-md-9 col-lg-10 float-right">
                        <h4 class="font-weight-bold">Sass</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                        <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
                    </div>
                </div>
                <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
            <i class="fab fa-js-square js fa-4x"></i>
             </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Javascript</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                 <a mdbBtn color="yellow" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
             </div>
         </div>
         <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
            <i class="fab fa-git-square git fa-4x"></i>
             </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Git</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                 <a mdbBtn color="deep-orange" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
             </div>
         </div>
         <!--Grid column-->

        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
                <i class="fab fa-angular red-text fa-4x"></i>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Angular</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                <a mdbBtn color="danger" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
            </div>
        </div>
        <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="col-1 col-md-2 float-left">
                    <i class="fab fa-node-js green-text fa-4x"></i>
                     </div>
                    <div class="col-10 col-md-9 col-lg-10 float-right">
                        <h4 class="font-weight-bold">Node.js</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                         <a mdbBtn color="dark-green" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
                     </div>
                 </div>
                 <!--Grid column-->

                                 <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="col-1 col-md-2 float-left">
                    <i class="fab fa-python python fa-4x"></i>
                     </div>
                    <div class="col-10 col-md-9 col-lg-10 float-right">
                        <h4 class="font-weight-bold">Python</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda.</p>
                         <a mdbBtn color="indigo" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
                     </div>
                 </div>
                 <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.2-->
    <!--Grid row-->

</section>
<!--Section: Features v.3-->

</div>

</main>
